*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "LeagueGothic"; 
    src: url("font/LeagueGothic/LeagueGothicRegular.ttf") format("truetype");
}
@font-face {
    font-family: "Nunitosans"; 
    src: url("font/Nunitosans/Nunitosansextralight.ttf") format("truetype"); 
    } 
header{
    background: url(./img/bg.jpg)no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    padding: 70px 0;
}
.menu{
    background-color: transparent;
    border-color: transparent;
}
.menu ul li{
    text-transform: uppercase;
    padding:10px;
    font-size: 24px;
    font-family: 'LeagueGothic';
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
    text-decoration: none;
}
.active a::before{
    content: '';
    width: 35px;
    height: 1px;
    background:#edbfff;
    position: absolute;
    top:40px;
}
.menu ul li a:hover{
    color: #FFFFFF;
    background: #333333;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}
.myright li a{
    color: white !important;
    background: transparent !important;
}

#header-slider{
    background: rgba(0,0,0,0.2);
}
.slide{
    display: flex;
    justify-content: space-around;
}
.bx-wrapper{
    background: transparent;
    border: 5px solid transparent;
    box-shadow: none;
    margin-bottom: auto;
}
.left h1{
    color:white;
    font-family: 'LeagueGothic';
    font-size: 56px;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
}
.left h2{
    text-transform: uppercase;
    color: #edbfff;
    font-family: 'LeagueGothic';
    font-size: 36px;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
    margin-top: -10px;
}
.left p{
    color: white;
    font-family: 'Nunitosans';
    font-size: 18px;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
    line-height: 1.2;
}
.left{
    margin-top: 50px;
}
#section-main{
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
    background: linear-gradient(to top,#35273c, #765283);
    
}
.read {
    display: flex;
    justify-content: flex-end;
    color: white;
    font-family: 'LeagueGothic';
    font-size: 20px;
    text-transform: uppercase;
    padding: 0 100px 50px 50px;
    cursor: pointer;
}
.read:hover{
	text-shadow: 3px 1px 7px rgba(252, 252, 252, 1);
}
.content{
    margin-left:60px;
}
.content h2{
    text-transform: uppercase;
    color:white;
    font-family: 'LeagueGothic';
    font-size: 36px;
    padding-top: 30px;
}
.content p{
    color: white;
    font-family: 'Nunitosans';
    font-size: 18px;
    line-height: 1.6;
}

.content h2 i{
    position: absolute;
    left: 20px;
}
#section-center{
    background: #f9f9f9;
    padding-top: 50px;
    border-bottom: 1px solid #efefef;
}
.starts-here{
    background: #fff;
    border-bottom:1px solid #efefef;
    border-right:1px solid #efefef;
    padding: 20px;
    position: relative;
}
.text h1 {
    font-family: 'LeagueGothic';
    font-size: 30px;
    text-transform: uppercase;
    color: #454545;
}
.text{
    padding-left: 30px;
}
.text span {
    color: #edbfff;
}
.text p {
    font-family: 'Nunitosans';
    font-size: 18px;
    line-height: 1.4;
    color: #454545;
    padding-top: 10px;
}
.photo {
    position: absolute;
    top: 50px;
    left: 10px;
    z-index: 2;
}

.center-slider{
    padding: 20px;
	height: auto;
} 
 .starts-here::before, .new::after {
    content: '';
    position: absolute;
    right: 20px;
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid #fff;
}
.updates h2{
    font-family: 'LeagueGothic';
    font-size: 26px;
    text-transform: uppercase;
    color: #454545;
}
.updates p{
    font-family: 'Nunitosans';
    font-size: 18px;
    line-height: 1.2;
}
.updates{
    padding-top: 20px;
}
.updates img{
    margin-right:20px;
}
.read-more{
    display: flex;
    justify-content: space-around;
    font-family: 'LeagueGothic';
    text-transform: uppercase;
    cursor: pointer;
    font-size:23px;
}
.read-more:hover{
    color: #edbfff;
    
}
#logospan{
    background: #f9f9f9;
    padding-bottom: 50px;
    padding-top: 50px;
}
.logos{
    width: 70%;
    margin: auto;
}
.slider-company{
    display: flex;
    align-items: center;
}

#bottom{
    background: #ececec;
    padding-bottom: 30px;
    padding-top: 30px;
}
.bx-pager {
    display: none;
}
.pigbull h2 {
    font-family: 'LeagueGothic';
    font-size: 65px;
    text-transform: uppercase;
    color: #454545;
}
.pigbull span {
    color: #c9c9c9;
}
.copyright {
    font-family: 'Nunitosans';
    font-size: 18px;
    line-height: 1.4;
    font-style: italic;
}
.pigbull p {
    font-family: 'Nunitosans';
    font-size: 18px;
    line-height: 1.4;
    color: #454545;
}
.resent h2 {
    font-family: 'LeagueGothic';
    font-size: 46px;
    text-transform: uppercase;
    color: #454545;
}
.resent p {
    font-family: 'Nunitosans';
    font-size: 18px;
    line-height: 1.4;
    color: #454545;
}
footer{
    background: url(img/bg-footer.jpg) no-repeat;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}
.myleft li a{
    color: white !important;
    background: transparent !important;
    padding-top: 40px;
}
.myleft li:last-child {
    font-family: 'Nunitosans';
    font-size: 16px;
    color: white;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
    text-transform: capitalize;
    padding-top:50px;
    margin-left:200px;
    cursor: pointer;
}
.myleft li:last-child:hover{
    color: #FFFFFF;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

 @media (max-width: 426px){
    .slide{
        display: flex;
        flex-direction: column;
    }
    .logos-img{
        display: flex;
        flex-direction: column;
    }
} 
@media (min-width: 768px) and (max-width: 1023px){
   .myright li a{
       display: flex;
       padding: 0;
       margin-top: 20px;
   }
   .active a::before{
    top:25px;
}
}